[safe]
	directory = /Users/varich/Projects
  	directory = /Users/varich/Projects/*
[user]
	name = v.v.
	email = varich96@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[pager]
	branch = false
